@model AccountSync.Models.DB_GEN.GenProxyAccount

@{
    ViewBag.Title = "密碼已重設";
}

<h2>您的密碼已重設，請盡快變更密碼</h2>

<h3>
    新密碼已經寄到您的信箱
    <br />
    請至下列信箱收信
    <br />
    @Html.DisplayFor(model => model.chEMail)
</h3>

<p>
    @Html.ActionLink("修改密碼", "ChangePassword", new { UserID = Model.chUserID })
    <br />
    @Html.ActionLink("回到首頁", "Index")
</p>
