
@{
    ViewBag.Title = "Index";
}

<h2>個人帳號查詢</h2>


<div >

    <h4>
        帳號通常是身分證號
    </h4>

    <hr />

    @using (Html.BeginForm("Query", "UserAccount"))
    {
        @Html.Label("帳號：")
        @Html.TextBox("user")

        <input type="submit" name="submit" value="查詢" />
        }

</div>